examples/valve.json
[
    {
        "id": "d7c51fb8.7b04b",
        "type": "tab",
        "label": "dt-valve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e345571.f2ff08",
        "type": "tab",
        "label": "IoTSensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5ea6d2a.6e7bb",
        "type": "tab",
        "label": "openValve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1faeff1.8709701",
        "type": "tab",
        "label": "closeValve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "919374fb.f2e4d8",
        "type": "tab",
        "label": "knowledgeGraph",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c579d4a.2ab9828",
        "type": "dt-asset",
        "z": "d7c51fb8.7b04b",
        "name": "valve",
        "aContext": "",
        "aId": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "dd7c3eb9.0e60f",
                "6099f9fd.727cd8"
            ]
        ]
    },
    {
        "id": "fd18d254.15a17",
        "type": "dt-property",
        "z": "d7c51fb8.7b04b",
        "name": "temperature",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "c579d4a.2ab9828"
            ]
        ]
    },
    {
        "id": "c1f7e930.6f8e48",
        "type": "dt-graph",
        "z": "d7c51fb8.7b04b",
        "name": "",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "96ceb3a9.0c37f"
            ]
        ]
    },
    {
        "id": "dd7c3eb9.0e60f",
        "type": "dt-action",
        "z": "d7c51fb8.7b04b",
        "name": "open",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "e4f3ce6c.cdef3"
            ]
        ]
    },
    {
        "id": "1f2c5791.f481f8",
        "type": "dt-asset",
        "z": "d7c51fb8.7b04b",
        "name": "refinery",
        "x": 980,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6099f9fd.727cd8",
        "type": "dt-relation",
        "z": "d7c51fb8.7b04b",
        "name": "partOf",
        "direction": "-->",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "1f2c5791.f481f8"
            ]
        ]
    },
    {
        "id": "d3443574.82fdd8",
        "type": "link in",
        "z": "d7c51fb8.7b04b",
        "name": "temperatureIoT",
        "links": [
            "f45a326d.f215e"
        ],
        "x": 185,
        "y": 220,
        "wires": [
            [
                "fd18d254.15a17"
            ]
        ]
    },
    {
        "id": "e4f3ce6c.cdef3",
        "type": "link out",
        "z": "d7c51fb8.7b04b",
        "name": "",
        "mode": "link",
        "links": [
            "e2944604.ae2808"
        ],
        "x": 845,
        "y": 300,
        "wires": []
    },
    {
        "id": "96ceb3a9.0c37f",
        "type": "link out",
        "z": "d7c51fb8.7b04b",
        "name": "",
        "mode": "link",
        "links": [
            "6b2dc0ae.f4125"
        ],
        "x": 415,
        "y": 60,
        "wires": []
    },
    {
        "id": "dfee121.a89eff",
        "type": "inject",
        "z": "8e345571.f2ff08",
        "name": "IoT sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "33.6",
        "payloadType": "num",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "f45a326d.f215e"
            ]
        ]
    },
    {
        "id": "f45a326d.f215e",
        "type": "link out",
        "z": "8e345571.f2ff08",
        "name": "temperatureIoT",
        "mode": "link",
        "links": [
            "d3443574.82fdd8",
            "10a389e0.2f3dc6",
            "8d36c7af.de46b8",
            "7976ab48.4f1fb4",
            "e91b576d.bd67b8",
            "ad10d05f.6cd54",
            "71a1576f.bd7788"
        ],
        "x": 735,
        "y": 300,
        "wires": []
    },
    {
        "id": "e2944604.ae2808",
        "type": "link in",
        "z": "b5ea6d2a.6e7bb",
        "name": "openValve",
        "links": [
            "e4f3ce6c.cdef3"
        ],
        "x": 285,
        "y": 320,
        "wires": [
            [
                "bfa42de9.4a7b8"
            ]
        ]
    },
    {
        "id": "bfa42de9.4a7b8",
        "type": "debug",
        "z": "b5ea6d2a.6e7bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "7721b87b.3899a8",
        "type": "link in",
        "z": "1faeff1.8709701",
        "name": "closeValve",
        "links": [
            "b335d849.8992a8"
        ],
        "x": 305,
        "y": 340,
        "wires": [
            [
                "503d895f.1edba8"
            ]
        ]
    },
    {
        "id": "503d895f.1edba8",
        "type": "debug",
        "z": "1faeff1.8709701",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b2dc0ae.f4125",
        "type": "link in",
        "z": "919374fb.f2e4d8",
        "name": "knowledgeGraph",
        "links": [
            "96ceb3a9.0c37f"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "09fc455c258ec2f7",
                "a9f5c2c18c000b22"
            ]
        ]
    },
    {
        "id": "efdd01b0.a21af",
        "type": "debug",
        "z": "919374fb.f2e4d8",
        "name": "cypher for neo4j",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "09fc455c258ec2f7",
        "type": "change",
        "z": "919374fb.f2e4d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.cypher",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "17abb841858b4fc6"
            ]
        ]
    },
    {
        "id": "17abb841858b4fc6",
        "type": "split",
        "z": "919374fb.f2e4d8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "652bfb50bb6829eb"
            ]
        ]
    },
    {
        "id": "652bfb50bb6829eb",
        "type": "change",
        "z": "919374fb.f2e4d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "efdd01b0.a21af"
            ]
        ]
    },
    {
        "id": "a9f5c2c18c000b22",
        "type": "debug",
        "z": "919374fb.f2e4d8",
        "name": "object output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 380,
        "wires": []
    }
]